@{
  Layout = "_Layout";
}
@model Gym.Models.Activity

<h2>Player Registration</h2>

@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.MaxPlayers)
  @Html.TextBoxFor(model => model.MaxPlayers)
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)

  <input type="submit" value="Post Activity"/>
}
<p>@Html.ActionLink("back", "Index")</p>